body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

    position: relative; 
    background-color: transparent;
}

header::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 200%; 
    height: 200%;
    background-color: #3498db; 
    transform: translateY(-100%) skewY(-15deg); 
    transform-origin: center; 
    z-index: -1;

    box-shadow: 10px 10px lightblue;
}

.header-image,
.header-about {
    max-width: 600px;
    height: auto;
}

.header-image {
    justify-self: end;
}

.header-image img {
    transform: translateX(10px);
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.header-about {
    background-color: white;
    box-shadow: 10px 10px;
    padding: 0px 24px;
    align-self: center;
}

.header-about span {
    font-style: italic;
    font-weight: bold;
}

.header-icons {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    max-width: 100%;
}

.header-icons img {
    max-width: 28px;
}

@media (max-width: 1250px) {
    header {
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }

    .header-image,
    .header-about {
        max-width: 500px;
        justify-self: center;
    }

    .header-about {
        max-width: 400px;
        transform: translate(15%, -20%);
    }

    .header-image img {
        transform: translate(-100px, 20px);
        max-width: 100%;
    }

    h1, p {
        text-align: right;
    }

    h1 {
        transform: translate(0, -70%);
    }

    .header-icons img {
        max-width: 24px;
    }
}

@media (max-width: 600px) {
    header {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .header-image,
    .header-about {
        max-width: 300px;
        justify-self: center;
    }

    .header-about {
        transform: translate(0, 0);
    }

    .header-image img {
        transform: translate(0, 0);
        max-width: 100%;
    }

    h1, p {
        text-align: center;
        transform: translate(0, 0);
    }
    
    .header-icons {
        justify-content: center;
    }
    
    .header-icons img {
        max-width: 20px;
    }
    
}