body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
/* HEADER */
header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

    position: relative; 
    background-color: transparent;
}

header::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 200%; 
    height: 200%;
    background-color: #3498db; 
    transform: translateY(-100%) skewY(-15deg); 
    transform-origin: center; 
    z-index: -1;

    box-shadow: 10px 10px lightblue;
}

.header-image,
.header-about {
    max-width: 600px;
    height: auto;
}

.header-image {
    justify-self: end;
}

.header-image img {
    transform: translateX(10px);
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.header-about {
    background-color: white;
    box-shadow: 10px 10px;
    padding: 0px 24px;
    align-self: center;
}

.header-about span {
    font-style: italic;
    font-weight: bold;
}

.header-icons {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    max-width: 100%;
}

.header-icons img {
    max-width: 28px;
}

/* MAIN SECTION */

main {
    grid-row: 2 / 3;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section-title {
    grid-column: 1 / 4;
}

.block {
    max-width: 600px;
    height: auto;
    background-color: blueviolet;
    box-shadow: 10px 10px;
}

.block {
    display: flex;
    flex-direction: column;

    max-width: 600px;
    height: auto;
}

.block-photo {
    max-height: 400px;
    overflow: hidden;
}

.block-photo img {
    max-width: 100%;
    height: auto;
    transform: translateY(-30%);
}

section div:nth-child(4) .block-photo img,
section div:nth-child(5) .block-photo img  {
    transform: translateY(-15%);
}

.block-about {
    padding: 8px 16px;
}

.block-icons img {
    width: 24px;
}

.block-about > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    header {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }

    .header-image,
    .header-about {
        justify-self: center;
    }

    .header-about {
        padding-top: 10px;
        max-width: 400px;
        transform: translate(15%, -20%);
        background-color: aliceblue;
    }

    .header-image img {
        position: relative;
        z-index: 1;
        transform: translate(-100px, 20px);
        max-width: 100%;
    }

    .header-about h1, 
    .header-about p {
        text-align: right;
    }

    .header-about h1 {
        transform: translate(0, -40%);
    }

    .header-icons img {
        max-width: 24px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-title {
        grid-column: 1 / 3;
    }


}

@media (max-width: 600px) {
    header {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .header-image,
    .header-about {
        max-width: 300px;
        justify-self: center;
    }

    .header-about {
        transform: translate(0, 0);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .header-image img {
        transform: translate(0, 0);
        max-width: 100%;
    }

    .header-about h1, 
    .header-about p {
        text-align: center;
        transform: translate(0, 0);
    }
    
    .header-icons {
        justify-content: center;
    }
    
    .header-icons img {
        max-width: 20px;
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-title {
        grid-column: 1 / 2;
    }


}