footer {
    padding: 40px 20px 40px 0;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;

    position: relative; 
    background-color: #3498db;
}

.footer-real {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.footer-image,
.footer-about {
    max-width: 600px;
    height: auto;
}

.footer-image{
    place-self: center start;
}

.footer-image img {
    max-width: 100%;
    text-align: center;
}

.footer-about {
    color: white;
    padding: 0px 24px;
    place-self: center;
    font-size: 20px;
}

.footer-icons,
.footer-contact div {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 100%;
}

.footer-icons img {
    max-width: 32px;
}

.footer-contact img {
    max-width: 28px;
}

.author {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.author a {
    display: inline;
}

.author a:link {
    text-decoration: none;
}